<ul>
    <li>
        @if (lst.LowerDimensionList.Count == 0)
        {
            <label>Id: @lst.Id, ParrentId = @lst.ParrentId, @lst.Name: @lst.Data</label>
        }
        else
        {
            <button @onclick="(() => lst.IsOpen = !lst.IsOpen)" class="btn-primary">@ListStatus(lst.IsOpen)</button>
            <label>Id: @lst.Id, @lst.Name</label>
        }
        <button class="btn btn-primary" @onclick="@(() => BoundValue = lst)">Edit</button>
        <label>To add</label>
        <InputRadio Value="lst.Id" @onclick="@(async () => await OnAddClick(lst.Id))"></InputRadio>
        @foreach (var i in lst.LowerDimensionList)
        {
            if (lst.IsOpen)
            {
                <RecoursiveRenderMultiDimensionalListComponent lst="@i" @bind-elemToEdit="@BoundValue"></RecoursiveRenderMultiDimensionalListComponent>
            }
        }
    </li>
</ul>


@code {
    [Parameter]
    public OpenableMultiDimensionalList lst { get; set; }
    [Parameter]
    public OpenableMultiDimensionalList elemToEdit { get; set; }
    [Parameter]
    public EventCallback<OpenableMultiDimensionalList> elemToEditChanged { get; set; }
    private OpenableMultiDimensionalList BoundValue
    {
        get => elemToEdit;
        set => elemToEditChanged.InvokeAsync(value);
    }


    string ListStatus(bool isOpen)
    {
        if (isOpen)
            return "Hide";
        else
            return "Show";
    }


    async Task OnAddClick(int parrentId)
    {
        var tmp = new OpenableMultiDimensionalList
        {
            ParrentId = parrentId,
            Id = -1,
            LowerDimensionList = new List<OpenableMultiDimensionalList>()
        };
        await elemToEditChanged.InvokeAsync(tmp);

        elemToEdit.Id = -1;
    }
}
